@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



:root {
    /* Colors */
    --white: #E5E5E5;
    --black: #0A0A0A;
    --dark-grey: #161616;
    --green: #1CB280;
    --blue: #3A3AF6;
    --grey: #5E5E5E;
    --light-grey: #9d9d9d;
    --red: #FC494D;
    --orange: #FFA928;
  
    /* Font-family */
    --font-family: 'Ubuntu', sans-serif;
  }
  
  