.button {
    font-size: 18px;
    line-height: 100%;
    border: 1px solid var(--grey);
    border-radius: 3px;
}

.header {
    width: 126px;
    height: 39px;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 24px;
}

.normal {
    height: 53px;
    padding: 15px 16px;
    font-size: 18px;
}

.primary {
    background-color: var(--blue);
    border-color: var(--blue);
}